/* Small Devices ==>> Landscape Phones */
@media (min-width: 600px) {
    .container {
        max-width: 540px;
    }
}

/* Medium Devices ==> Tabliets */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Laptop Screen */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}